RUST_LOG=info,nockchain=info,nockchain_libp2p_io=info,libp2p=info,libp2p_quic=info
MINIMAL_LOG_FORMAT=true
MINING_PUBKEY=42FD8bEVTzzW2dqKdwm24tqrtVrL8JAo3cUfdLEQ2EZxA6Uyk1KWcic6LAi9EXB4MFZwDanpoAx3fqLu4LiFNuGhq3C6vihrfpW7WkqYeakWxQfBeb9ap4ssUsb7kSFbeG3G
